@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg: 255, 255, 255;
    --softBg: 240, 240, 240;
    --color: 0, 0, 0;
    --softColor: 100, 100, 100;
}

.dark {
    --bg: 0, 0, 0;
    --softBg: 30, 30, 30;
    --color: 255, 255, 255;
    --softColor: 180, 180, 180;
}
